<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/login/style.css" />
</head>
<body>
<div class="center">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="txt_field">
            <input type="text" name="username" id="username" required >
            <span></span>
            <label for="username" >Username</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" id="password"  required >
            <span></span>
            <label for="password" >Password</label>
        </div>
        <div th:if="${param.error}" class="alert alert-error text-danger">
                Invalid username or password.
            </div>
        <input type="submit" value="Login" />
        <div class="signup_link">Or <br><a th:href="@{/oauth2/authorization/google}">Sign in with Google</a></div>
        <div class="signup_link">Not a member? <a th:href="@{/register}">Signup</a></div>
    </form>
</div>
</body>
</html>


